* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: white;
}

.header {
  display: flex;
  height: 50px;
  background-color: lightblue;
  box-shadow: 0px 4px 3px lightgreen;
  padding: 10px 10px;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  color: blue;
  align-items: center;
  text-transform: uppercase;
}

.header__title {
  flex-grow: 1;
  cursor: pointer;
  font-size: large;
}

.header__links {
  display: flex;
  gap: 30px;
}

.header__link {
  text-decoration: none;
  transition: 0.3s ease-in 50ms;
}

.header__link:hover {
  color: rgb(255, 157, 0);
}

.body-container {
  display: flex;
  width: 100%;
  padding: 0px 15px;
  margin-top: 30px;
  gap: 30px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: calc(100vh - 80px);
  background-color: lightskyblue;
  align-items: center;
  border-radius: 10px;
}

.side-bar__coordonnees {
  
}

.side-bar__coordonnees__listmain {
  padding: 5px;
}

li {
  list-style: none;
  padding-bottom: 10px;
}

.side-bar__img {
  object-fit: cover;
}

.main-container {
  padding: 40px;
  width: 100%;
  background-color: lightskyblue;
  border-radius: 10px;
}

.main-container__titre {
  text-align: center;
  padding: 5px;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  font-style: italic;
  font-size: x-large;
  padding-bottom: 20px;
}
.main-container__block {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.main-container__img1 {
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.main-container__txt {
  font-size: 20px;
  line-height: 30px;
}
