* {
    text-align: center;
    box-sizing: border-box;
}

body {
    text-align: center;
    background-image: url("https://picsum.photos/1600/800");
}

.monTitre-italic {
  color: rebeccapurple;
  font-size: xx-large;
  background-color: bisque;
  font-style: italic;
  padding: 10px 20px;
  display: inline-block;
  border: 2px dotted rebeccapurple;
  font-family: 'Water Brush', cursive;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.monParagraphe {
  color: black;
  font-size: large;
  background-color: white;
  display: inline-block;
  margin-top: 30px;
}

nav {
    background-color: antiquewhite;
    padding: 0.5px;
    backdrop-filter: blur(10px);
}

.navBar {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

.navBar li {
    display: inline;
}

.navBar a {
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-weight: bold;
}

.navBar a:hover{
    background-color: aquamarine;
    text-shadow: 2px;
}

.heading {
    background-color: antiquewhite;
    height: auto;
    width: 100%;
    padding: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading .logo{
    width: 5rem;
    height: auto;
    transition: all 0.75s;
}

.logo img{
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

.arrowBack {
    height: 30px;
}

.maCarte-body{
    /* display: inline-block; */
    width: 300px;
    height: 300px;
}

.footer {
    background-color: antiquewhite;
}

.footer p {
    display: inline;
}






/* L'ID est prioritaire sur les class en CSS
  #monTitrePrincipale {
      color: green;
      background-color: aqua;
  } */
